/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2196f2;
  --ifm-color-primary-dark: #0e95ff;
  --ifm-color-primary-darker: #2196f2;
  --ifm-color-primary-darkest: #0081e4;
  --ifm-color-primary-light: #2196f2;
  --ifm-color-primary-lighter: #2196f2;
  --ifm-color-primary-lightest: #2e8dd6;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 200;
}
.medium-zoom-image--opened {
  z-index: 202;
}
html[data-theme='dark'] .medium-zoom--opened .medium-zoom-overlay {
  background: #18191a !important;
}

.navbar__brand {
  margin-right: 0.5rem;
}
.navbar__logo {
    height: 4rem;
    margin-top: -11px;
    margin-right: 0px;
}
[class^="sidebarLogo"] img {
  height: 4rem !important;
  margin-top: 1px;
  margin-right: 0px !important;
}
.navbar__title {
    font-size: 19px;
    margin-bottom: 7px;
}
[class^="sidebarLogo"] b {
  font-size: 19px;
  margin-top: 7px;
}
.menu, .navbar__link , .navbar__items--right>:last-child , .navbar__toggle {
    margin-bottom: 8px;
}
.navbar-sidebar__brand .navbar__brand .navbar__logo, .navbar-sidebar__brand .navbar__brand .navbar__title {
    margin-top: 0px;
    margin-bottom: 0px;
}
.hmcl2 {
  border: 2px solid;
}
.hmcl3 {
  margin: 20px 36px;
}

.blog-list-page article , .blog-tags-post-list-page article {
  border: 2px solid;
  padding: 15px;
  box-shadow: 7px 9px #2196f2;
  transition: 0.19s all;
}
.blog-list-page article:hover , .blog-tags-post-list-page article:hover {
  box-shadow: 0px 0px;
  border-color: #2196f2;
}