@media screen and (min-width: 815px) {
  .container2 {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container2 .video {
    height: 195px;
    width: 376px !important;
  }
  .container2 p {
    font-size: 1.5rem !important;
    margin-right: 30px;
  }
}
.container2 p {
  font-size: 1.1rem;
}
.container2 .video {
  border: 1px solid transparent;
  border-radius: 20px;
  width: -moz-available;
  width: -webkit-fill-available;
}
.yts {
  background-color: red !important;
  color: white !important;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.yts:active {
  color: black !important;
  background-color: white !important;
}
.container3 {
  text-align: center;
}
