.scp-quizzes-data {
    padding: 2px;
    margin-top: 15px
}

.scp-quizzes-data input[type=radio] {
    display: none
}

.scp-quizzes-data input[type=radio]+label {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer
}

.scp-quizzes-data input[type=radio]+label:hover {
    border-color: #2196f2;
}

.scp-quizzes-data input[type=radio]:checked+label {
    background-image: none;
    background-color: #0c0 !important;
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.scp-quizzes-data input[type="radio"]+label {
    background-color: #FF0000;
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}